body {
    background-color: #ececec;
}

.nav-container {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

nav {
    margin: 0 auto 10px;
    padding: 0 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
}

p {
    margin-bottom: 15px !important;
}

.input-field {
    margin-top: 0;
}

input {
    height: 2.4rem !important;
    text-align: center;
    color: black !important;
    font-weight: bold;
}

button {
    width: 100%;
}

.social {
    text-align: right;
    margin: -10px 0 -20px;
    padding-right: 11px;
}
